/**** Base styles ****/
body { 
 /* background: #EEE5DC; */
  color: #222;
  margin:0;
  padding:0 4px 0 4px;
  font-size: 1em;
}

/**** Content ****/

#content_container {
  width:100%;
}

#content {
  padding: 10px 10px 10px 10px;
}

/* screens smaller than 640 */
@media screen and (max-width: 640px) {
  #content {
    padding-left: 10px;
  }
}

.hidden { display: none; }

button {
  -webkit-appearance: push-button;
}

/**** Demos ****/

#container {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.centered { margin: 0 auto; }

.box {
  margin: 5px;
  padding: 5px;
  font-size: 0.9em;
  line-height: 1.2em;
  float: left; 
}

.box a{
	text-decoration:none;
}

.box h2 {
  font-size: 1.1em;
  font-weight: 200;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }
.col6 { width: 100%; }

.col9 { width: 580px; }
@media screen and (max-width: 600px) {
	.col9 { width: 100%; }
}

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }
.col6 img { max-width: 100%; }
.col9 img { max-width: 100%; }


/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}


/**** Fluid ****/

#container.fluid  {
  padding: 5px 0;
}

/* right margin value is 0.1% less than calculated,
  to allow for rounding errors in Firefox */
.fluid .box {
  margin: 5px 0.9% 5px 1%;
  padding: 5px 1%;
}

.fluid .box.col1 { width: 16%; }
.fluid .box.col2 { width: 36%; }
.fluid .box.col3 { width: 56%; }

/**** Corner stamp ****/

.corner-stamp {
  width: 280px;
  height: 340px;
  padding: 10px;
  margin: 10px;
  float: right;
  background: red;
  color: white;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/**** Pygments ****/

code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */


.box div:hover img,.imagenews_item_a_span:hover span {
	-webkit-transform: scale(.94, .9);
	-moz-transform: scale(.94, .9);
	-o-transform: scale(.94, .9);
	-ms-transform: scale(.94, .9);
	transform: scale(.94, .9);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.5,.1,.1,1);
	-moz-transition: -moz-transform .2s cubic-bezier(.5,.1,.1,1);
	-o-transition: -o-transform .2s cubic-bezier(.5,.1,.1,1);
	-ms-transition: -ms-transform .2s cubic-bezier(.5,.1,.1,1);
	transition: transform .2s cubic-bezier(.5,.1,.1,1);
}
.box img{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-transform: scale(1) translateZ(0);
	-moz-transform: scale(1) translateZ(0);
	-o-transform: scale(1) translateZ(0);
	-ms-transform: scale(1) translateZ(0);
	transform: scale(1) translateZ(0);
	-webkit-transition: -webkit-transform .6s cubic-bezier(.5,.1,.1,1);
	-moz-transition: -moz-transform .6s cubic-bezier(.5,.1,.1,1);
	-o-transition: -o-transform .6s cubic-bezier(.5,.1,.1,1);
	-ms-transition: -ms-transform .6s cubic-bezier(.5,.1,.1,1);
	transition: transform .6s cubic-bezier(.5,.1,.1,1);
}

.box > p > a:hover{
	text-shadow: 0px 1px 1px #555;
}

/*----------------------------------------------------------------------*/

/* titlebar */

#bodytitlebar{
  font-size: 0.8em;
  BORDER: #999999 1px solid;
  left:0; 
  top:0; 
  width:100%; 
  height:47px; 
  position:relative; 
  color:#727171; 
  background-position:left bottom; 
  background-repeat:repeat-x;
	background-color: rgba(255, 255, 255, 0.25);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
	
	border-top-color: #8ba2c1;
	border-right-color: #5890bf;
	border-bottom-color: #4f93ca;
	border-left-color: #768fa5;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.pkico{
	display:inline-block;
	height:32px;
	background:url(images/default.png) no-repeat left;
	cursor:pointer;
	overflow: hidden;
}

.ul_customstyle{
	display: block;
	list-style-type: disc;
	margin: 0;
	padding: 0;
}

.ul_customstyle li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	float: left;
	
  text-overflow:ellipsis;
  white-space:nowrap;
}

.ul_customstyle li a{
  overflow:hidden;
}

.ul_topnav{
	float: left;
}
.ul_topnav li{
	width:64px;
}
.ul_topnav li a{
	text-decoration:none;
	color:#222;
}

.pk_fire_a{
	color:#FF0080;
  /* add shadows to text */
  -moz-text-shadow: 1px 0px 0px #fff,0px -1px 0px #fff,-1px 0px 0px #fff,0px 1px 0px #fff;  
  -webkit-text-shadow: 1px 0px 0px #fff,0px -1px 0px #fff,-1px 0px 0px #fff,0px 1px 0px #fff;  
  text-shadow:1px 0px 0px #fff,0px -1px 0px #fff,-1px 0px 0px #fff,0px 1px 0px #fff;
}

.ul_topnav li:hover{
	background-color: rgba(100, 240, 150, 0.95);
}

.pk_li_sel{
	font-weight: bold;
	background-color: rgba(60, 132, 198, 0.8);
}

.ul_topnav li a span{
	vertical-align: middle;
	display:block;
	text-align: center; 
  white-space:nowrap;
  overflow:hidden;
}

.passport-entry-right li{
	float:right;
}

#passport-entry-left-news{
	background-position: -64px 0;
}

.pkico-playlist{
	background-position: -96px 0;
}

.pkico-common{
	width:32px;
	margin-left:16px;
}

.pkico-donate{
	background-position: 0 -202px;
}

.pkico-pkrss{
	background-position: -32px -200px;
}

.pkico-search{
	background-position: -64px -200px;
}

.pkico-interflow{
	background-position: -96px -200px;
}

.pkico-home{
	background-position: -32px -234px;
}

.pkico-tool{
	background-position: -64px -233px;
}

.pkico-coop{
	background-position: -96px -234px;
}

.pkico-taobao{
	background-position: 0 -288px;
}

.pkico-amazon{
	background-position: -48px -288px;
}

.pkico-nenwsmodule{
	width:24px;
	height: 24px;
}

.pkico-nenwsmodule-newspaper{
	background-position: -24px -264px;
}.pkico-nenwsmodule-briefnews{
	background-position: -48px -264px;
}
.pkico-nenwsmodule-imagenews3d{
	background-position: -96px -288px;
}
.pkico-nenwsmodule-media{
	background-position: 0 0;
}

#pkico-components{
	background-position: -96px -170px;
}

#passport-entry-right-forum{
	background-position: 0 -32px;
}

#passport-entry-right-book{
	background-position: -32px -32px;
}
#passport-entry-right-phone{
	background-position: -64px -32px;
}
#passport-entry-right-url{
	background-position: -96px -32px;
}
#passport-entry-right-login{
	background-position: 0 -170px;
	width:32px;
	margin-left:16px;
}
#passport-entry-right-logout{
	background-position: -32px -170px;
	width:32px;
	margin-left:16px;
}

#pk_ul_newsmodule{
	height:26px;
}

#pk_ul_newsmodule li{
	margin: 4px;
	padding: 0;
	width:26px;
	height:26px;
}

#pk_ul_newsmodule span{
	margin: 1px;
	padding: 0;
	width:24px;
	height:24px;
}

.pk_ul_newsmodule_li_sel{
	border: 1px solid rgba(60, 132, 198, 0.8);
}

.pk_ul_locale{
	height:40px;
}

.pk_ul_locale li{
	margin: 4px;
	padding: 2px;
	width:40px;
	height:40px;
}

.pk_ul_locale li a span{
	margin: 4px;
}

.pkflagico{
	display:inline-block;
	height:32px;
	width:32px;
	background:url(images/pkflag.gif) no-repeat left;
	cursor:pointer;
	overflow: hidden;
	vertical-align: middle;
}

.pkflagico-en{
	background-position: 0 0;
}

.pkflagico-zh_CN{
	background-position: -32px 0;
}

.pkflagico-ja{
	background-position: -64px 0;
}

.pkflagico-ko{
	background-position: 0 -32px;
}

.pkflagico-ru{
	background-position: -32px -32px;
}

.pkflagico-zh_TW{
	background-position: -64px -32px;
}

.pkflagico-zh_HK{
	background-position: 0 -64px;
}

.pkflagico-af{
	background-position: -96px 0;
}
.pkflagico-bg{
	background-position: -128px 0;
}
.pkflagico-ca{
	background-position: -160px 0;
}
.pkflagico-cs{
	background-position: -192px 0;
}
.pkflagico-cuba{
	background-position: -224px 0;
}
.pkflagico-da{
	background-position: -96px -32px;
}
.pkflagico-de{
	background-position: -128px -32px;
}
.pkflagico-el{
	background-position: -160px -32px;
}
.pkflagico-en_GB{
	background-position: -192px -32px;
}
.pkflagico-es{
	background-position: -224px -32px;
}
.pkflagico-fa{
	background-position: -32px -64px;
}
.pkflagico-fi{
	background-position: -64px -64px;
}
.pkflagico-fr{
	background-position: -96px -64px;
}
.pkflagico-en_CA{
	background-position: -128px -64px;
}
.pkflagico-gr{
	background-position: -160px -64px;
}
.pkflagico-he{
	background-position: -192px -64px;
}
.pkflagico-hr{
	background-position: -224px -64px;
}
.pkflagico-hu{
	background-position: 0 -96px;
}
.pkflagico-id{
	background-position: -32px -96px;
}
.pkflagico-it{
	background-position: -64px -96px;
}
.pkflagico-lt{
	background-position: -96px -96px;
}
.pkflagico-lv{
	background-position: -128px -96px;
}
.pkflagico-mk{
	background-position: -160px -96px;
}
.pkflagico-nl{
	background-position: -192px -96px;
}
.pkflagico-no{
	background-position: -224px -96px;
}
.pkflagico-cy{
	background-position: 0 -128px;
}
.pkflagico-pl{
	background-position: -32px -128px;
}
.pkflagico-pt_BR{
	background-position: -64px -128px;
}
.pkflagico-pt{
	background-position: -96px -128px;
}
.pkflagico-ro{
	background-position: -128px -128px;
}
.pkflagico-sk{
	background-position: -160px -128px;
}
.pkflagico-sl{
	background-position: -192px -128px;
}
.pkflagico-sr{
	background-position: -224px -128px;
}
.pkflagico-sr_RS{
	background-position: 0 -160px;
}
.pkflagico-sv{
	background-position: -32px -160px;
}
.pkflagico-th{
	background-position: -64px -160px;
}
.pkflagico-tr{
	background-position: -96px -160px;
}
.pkflagico-uk{
	background-position: -128px -160px;
}
.pkflagico-vi{
	background-position: -160px -160px;
}

.pkflagico_sel{
	background-color: rgba(160, 132, 198, 0.8);
}

.pkflagico-reserve{
	background-position: -192px -160px;
}
.pkflagico-ar{
	background-position: -224px -160px;
}
.pkflagico-hy{
	background-position: 0 -192px;
}
.pkflagico-az{
	background-position: -32px -192px;
}
.pkflagico-be{
	background-position: -64px -192px;
}
.pkflagico-bs{
	background-position: -96px -192px;
}
.pkflagico-et{
	background-position: -128px -192px;
}
.pkflagico-ka{
	background-position: -160px -192px;
}
.pkflagico-is{
	background-position: -192px -192px;
}
.pkflagico-ga{
	background-position: -224px -192px;
}
.pkflagico-ms{
	background-position: 0 -224px;
}
.pkflagico-mt{
	background-position: -32px -224px;
}
.pkflagico-mn{
	background-position: -64px -224px;
}
.pkflagico-ne{
	background-position: -96px -224px;
}
.pkflagico-sq{
	background-position: -128px -224px;
}
.pkflagico-eo{
	background-position: -160px -224px;
}
.pkflagico-eu{
	background-position: -192px -224px;
}
.pkflagico-gl{
	background-position: -224px -224px;
}
.pkflagico-gu{
	background-position: 0 -256px;
}
.pkflagico-ha{
	background-position: -32px -256px;
}
.pkflagico-hi{
	background-position: -64px -256px;
}
.pkflagico-hmn{
	background-position: -96px -256px;
}
.pkflagico-ht{
	background-position: -128px -256px;
}
.pkflagico-ig{
	background-position: -160px -256px;
}
.pkflagico-iw{
	background-position: -192px -256px;
}
.pkflagico-jw{
	background-position: -224px -256px;
}
.pkflagico-km{
	background-position: 0 -288px;
}
.pkflagico-kn{
	background-position: -32px -288px;
}
.pkflagico-mi{
	background-position: -64px -288px;
}
.pkflagico-mr{
	background-position: -96px -288px;
}
.pkflagico-la{
	background-position: -128px -288px;
}
.pkflagico-lo{
	background-position: -160px -288px;
}
.pkflagico-pa{
	background-position: -192px -288px;
}
.pkflagico-so{
	background-position: -224px -288px;
}
.pkflagico-sw{
	background-position: -256px 0;
}
.pkflagico-ta{
	background-position: -256px -32px;
}
.pkflagico-te{
	background-position: -256px -64px;
}
.pkflagico-tl{
	background-position: -256px -96px;
}
.pkflagico-ur{
	background-position: -256px -128px;
}
.pkflagico-yi{
	background-position: -256px -160px;
}
.pkflagico-yo{
	background-position: -256px -192px;
}
.pkflagico-zu{
	background-position: -256px -224px;
}
.pkflagico-en_AU{
	background-position: -256px -256px;
}
.pkflagico-ceb{
	background-position: -256px -288px;
}
.pkflagico-bn{
	background-position: -288px 0;
}

/* news body */

.header_navbar_catalog a {
	color: -webkit-link;
	text-decoration: underline;
	cursor: auto;
}

.box .rss_title {
  font-weight: bold;
  text-align: center;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.box .rss_title a{
	text-decoration:none;
}

.rss_bottom,.rss_bottom a{
  clear: both; 
  color: rgba(69,54,37,0.6);
  line-height: 1.5em;
  height: 1.5em;
}

.rss_bottom{
  border-top: 1px solid rgba(69,54,37,0.2);
  display: block;
  margin-top: 0.2em;
}

.pk_bordertop{
  border-top: 1px solid rgba(69,54,37,0.2);
}

.pk_borderbottom{
  border-bottom: 1px solid rgba(69,54,37,0.2);
}

.content_navbar{
	height: 24;
}

.content_navbar ul{
	padding: 0;
	margin: 0;
}

.content_navbar ul li {
	position: relative;
	vertical-align: bottom;
	display: -moz-inline-box;
	display: inline-block;
	padding: 0;
	margin: 0;
}

/* other */

.pkinlineblock {
	display: -moz-inline-box;
  display: inline-block;
}

.pkblock {
	POSITION: relative;
	text-align:center;
	display: -moz-box;
  display: block;
  MARGIN-RIGHT:auto; MARGIN-LEFT: auto;
}

.left {
	float:left;
}

.right {
	float:right;
}

@media screen and (max-width: 600px) {
	.smallscreen_hide {
		display:none;
	}
}

.tool_float_pane_container{
	display:none;
	max-width:450px;
	padding: 0;
	margin:0;
	position:fixed;
	top:40%;
	right:32px;
  z-index:2;
  background-color: rgba(240, 240, 240, 0.9);
  border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #CCC;
	box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
	-moz-box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
	-webkit-box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
}

#tool_right_pane_container{
	padding: 0;
	display: block;
	margin:0;
	position:fixed;
	top:40%;
	right:0;
  z-index:2;
}

#tool_right_pane{
	padding: 0;
	margin:0;
	list-style-type: none;
}
#tool_right_pane li {
	width:40px;
	height:40px;
}
#tool_right_pane li a{
	height: 32px; 
	width: 32px;
	display: block;
	margin:4px;
	background-repeat: no-repeat;
}
#tool_right_pane li a:hover {
	background-color: rgba(100, 240, 150, 0.95);
}
.tool_right_pane_li_a_sel {
	background-color: rgba(200, 140, 150, 0.95) !important;
}

.content-type-components{
	display:none;
}

.pkico-music{
	background-position: 0 0;
	width:32px;
}

#tool_right_pane_item_translate{
	background-position: -32px 0;
}

/* dialog */
.divModalDialog  {
    position:relative;
    width:320px;
    height:480px;
    display:none;
    background-color:rgba(216,216,216,0.9);
    z-index:3;
    overflow: hidden;
    padding:0;
    -moz-border-radius: 8px;
	  -webkit-border-radius: 8px;
	  -khtml-border-radius: 8px;
	  border-radius: 8px;
	  border: 2px solid #25F;
}
@media screen and (max-width: 320px) {
  width:100%;
}

/* tiny scroll */

.divModalDialog_content { width: 520px; clear: both; margin: 20px 0 10px; }
.divModalDialog_content .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
.divModalDialog_content .overview { list-style: none; position: absolute; left: 0; top: 0; }
.divModalDialog_content .thumb .end,
.divModalDialog_content .thumb { background-color: #003D5D; }
.divModalDialog_content .scrollbar { position: relative; float: right; width: 15px; }
.divModalDialog_content .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
.divModalDialog_content .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.divModalDialog_content .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.divModalDialog_content .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


.text_oneline {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.text_meta {
  color: rgba(69,54,37,0.6);
  border-bottom: 1px solid rgba(69,54,37,0.2);
  padding-bottom: 0.5em;
}

.text_meta a {
  text-transform: capitalize;
  font-style: normal;
  color: rgba(69,54,37,0.8);
}

.rss_author{
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.rss_desc{
	font-family: Verdana;
  line-height: 1.5em;
  text-decoration:none;
  word-wrap: break-word;
	word-break: break-all;
}

.pk_text_2_lines{
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
}

.a_textnodec{
	text-decoration:none;
  color:#333333; 
}

.pk_loaderimg{
	display:inline-block;
	height:70px; 
	width:70px; 
	background:url("/s/images/6RMhx.gif") left no-repeat; 
}

@media screen and (max-width: 440px) {
  
	.passport-entry-right{
    width:135px;
	}
}

/** pknavmenu */

/* level 2 list */
.pknavmenu{
	overflow:visible;
	line-height: 100%;
	padding:0;
}
.pknavmenu, .pknavmenu ul {
	background: #ddd url(images/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);

	width:auto;
}

.pknavmenu ul {
	display: none;
}

.pknavmenu li {
	float: none;
	display: block;
	margin: 0;
	padding: 9px;
	BORDER: 0;
	width: auto;
	list-style: none;
}

/* main level link */
.pknavmenu a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}

.pknavmenu li:hover a {
	background: #666 url(images/gradient.png) repeat-x 0 -40px;
	color: #444;
	border-top: solid 1px #f8f8f8;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

.pknavmenu li:hover {
	background-color: #0078ff;
}

/* dropdown */
.pknavmenu li:hover > ul {
	display: block;
}

/* clearfix */
.pknavmenu:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* my default css */
.pkhide{
	display:none;
}

#catnav_li_nav a{
	margin-right:1em;
}

@media screen and (max-width: 640px) {
  #catnav_li_nav {
    width: 100% !important;
    margin-bottom:1em;
  }
}

.catnav_li{
	width:33.33%;
}
.catnav_li > *{
	width:80%;
	overflow: hidden;
}
#briefnews_cotainer .rss_title {
  font-weight: bold;
  text-align: left;
  word-break: break-all;
  word-wrap:break-word;
}
#briefnews_cotainer .rss_title a{
	text-decoration:none;
}
.rss_briefbottom{
  border-bottom: 1px solid rgba(69,54,37,0.2);
  display: block;
  overflow: hidden;
}
.rss_briefbottom a{
  text-decoration:none;
}
.rss_bottom,.rss_bottom a,.rss_briefbottom, .rss_briefbottom a{
  clear: both; 
  color: rgba(69,54,37,0.6);
  line-height: 1.5em;
  height: 1.5em;
}
/* image 3d */
.pkico-nenwsmodule-imagenews3d{
	background-position: -96px -288px; !important;
}
.pkthreejs_container .topmenu {
	position: absolute;
	top: 20px;
	width: 100%;
	text-align: center;
}

.pkthreejs_container .topmenu {
	position: absolute;
	top: 20px;
	width: 100%;
	text-align: center;
  z-index: 100;
}
.pkthreejs_container{
	width:100%;
	height:100%;
}
.pkthreejs_grid_container {
	background-color: #000000;
	margin: 0;
	font-family: Arial;
	overflow: hidden;
	width:100%;
	height:100%;
}
.pkthreejs_container a {
	color: #ffffff;
}
.pkthreejs_container .menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
.pkthreejs_container .element {
	width: 140px;
	height: 180px;
	box-shadow: 0px 0px 20px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	cursor: default;
}
.pkthreejs_container .element:hover {
	box-shadow: 0px 0px 20px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
}
.pkthreejs_container button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
.pkthreejs_container button:hover {
	background-color: rgba(0,255,255,0.5);
}
.pkthreejs_container button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}
/* right panel */
.pkico-tool{
	background-position: -64px -233px;
}
.pkico-imgplugin{
	background-position: 0 -234px;
}
.pkico-onoff{
	background-position: 0 -320px;
}
.pkico-rightheader{
	background-position: -32px -320px;
}
.pkico-uparrow{
	background-position: -64px -320px;
}
.pkico-downarrow{
	background-position: -96px -320px;
}
.pkico-search{
	display:none !important;
}