<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkrss.server.mapper.KVMapper">
  <resultMap id="BaseResultMap" type="com.pkrss.server.domain.KV">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="LONGVARCHAR" property="value" />
  </resultMap>
</mapper>