<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkrss.server.mapper.RssItemMapper">
  <resultMap id="BaseResultMap" type="com.pkrss.server.domain.RssItem">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="item_pubdate" jdbcType="TIMESTAMP" property="itemPubdate" />
    <result column="item_title" jdbcType="VARCHAR" property="itemTitle" />
    <result column="item_desc" jdbcType="VARCHAR" property="itemDesc" />
    <result column="item_link" jdbcType="VARCHAR" property="itemLink" />
    <result column="item_authors" jdbcType="VARCHAR" property="itemAuthors" />
  </resultMap>
  
  <select id="selectHistoryCourses" parameterType="java.util.Map" resultMap="BaseResultMap">
	    select * from pkrss_rssitem_l#{lid,jdbcType=INTEGER} as a 
	    <if test="userIdCheckOrderedStatus != null and userIdCheckOrderedStatus != 0">
	     left join yjs_user_course as c on c.user_id = #{userIdCheckOrderedStatus,jdbcType=INTEGER} and c.course_id=a.id 
	     left join yjs_watch_record as d on d.user_id = #{userIdCheckOrderedStatus,jdbcType=INTEGER} and d.course_id=a.id 
	    </if>
	     left join yjs_user as e on b.user_id = e.id  
	    <where>
		    <if test="tid != null and tid != 0">
		        AND a.tid = #{tid,jdbcType=INTEGER}
		    </if>
		    <if test="cid != null and cid != 0">
		        AND a.cid = #{cid,jdbcType=INTEGER}
		    </if>
		    <if test="lid != null and coachId != 0">
		        AND a.coach_id = #{coachId,jdbcType=INTEGER}
		    </if>
	    </where>
	    order by 
	    <choose>
	    	<when test="beginTimeOrderBy != null and beginTimeOrderBy != 0">
	    		a.begin_time 
	    		<choose>
	    			<when test="beginTimeOrderBy &lt; 0">
	    				DESC,
	    			</when>
	    			<otherwise>
			    		ASC,
			    	</otherwise>
				</choose>
			</when>
	    </choose>
	    <choose>
	    	<when test="hotsOrderBy != null and hotsOrderBy != 0">
	    		a.hots 
		    	<choose>
			    	<when test="hotsOrderBy &lt; 0">
			    		DESC,
			    	</when>
			    	<otherwise>
			    		ASC,
			    	</otherwise>
				</choose>
			</when>
	    </choose>
	    <choose>
	    	<when test="videoVisitedOrderBy != null and videoVisitedOrderBy != 0">
		    	a.video_visited 
		    	<choose>
		    		<when test="videoVisitedOrderBy &lt; 0">
			    		DESC,
			    	</when>
			    	<otherwise>
			    		ASC,
			    	</otherwise>
				</choose>
			</when>
	    </choose>
	    a.id 
	    <choose>
	    	<when test="idOrderBy != null and idOrderBy != 0">
	    		DESC
	    	</when>
	    	<otherwise>
	    		ASC
	    	</otherwise>
	    </choose>
	    limit #{offset,jdbcType=INTEGER} , #{limit,jdbcType=INTEGER}
   </select>
</mapper>